@import url('https://fonts.googleapis.com/css?family=Roboto:700');


html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle at 50vw 50vh, #e23636 85%, #000000 100%);
  background-image: linear-gradient(#e23636 30%, #000000 110%)
}
.Centerpiece {
  border: 3px solid white;
  overflow: hidden;
  height: 11vh;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  white-space: nowrap;
}
.Centerpiece h1 {
  font-size: 10vh;
  color:white;
  padding: 0;
  margin: 0;
}

.nextText {
  display: none;
}

.Search {
  outline: none;
  border: none;
  display: none;
  width: 11vh;
  border-bottom: 5px solid white;
  background: transparent;
  font-size: 10vh;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.AnimatedInput {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.CharacterNames {
  font-size: 10vh;
  cursor: pointer;
  width: 80vw;
  position: relative;
}
